Course_3/wkk5.xml

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema elementFormDefault='qualified' xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Adress">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Reciepient" type="xs:string" />
        <xs:element name="House" type="xs:string" />
        <xs:element name="Street" type="xs:string" />
        <xs:element name="Town" type="xs:string" />
        <xs:element minOccurs="0" name="Country" type="xs:string"/>
        <xs:element name="Postcode" type="xs:string" />
        <xs:element name="Country">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="FR" />
              <xs:enumeration value="DE" />
              <xs:enumeration value="ES" />
              <xs:enumeration value="UK" />
              <xs:enumeration value="US" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
